/* src/styles/mycart.css */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif; /* Ensure body inherits font */
  }
  
  .shopping-cart {
    max-width: 800px;
    width: 95%;
    margin: 20px auto;
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
  }
  
  .title {
    font-size: 24px;
    font-weight: 500;
    padding: 20px;
    color: #333;
    border-bottom: 1px solid #e1e8ee;
  }
  
  .item {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr; /* Adjust grid proportions as needed */
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e1e8ee;
    gap: 10px; /* This sets spacing between grid items */
  }
  
  .image img {
    width: 100%; /* Full-width within its grid cell */
    max-width: 100px; /* Adjust based on preference */
  }
  
  .description span {
    font-size: 18px;
    color: #43484d;
  }
  
  .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; /* Spacing between quantity controls */
    font-size: 18px;
    color: #43484d;
  }
  
  .item-price {
    font-size: 18px;
    color: #43484d;
  }
  
  .minus-btn,
  .plus-btn,
  .delete-btn,
  .checkout-btn {
    background-color: #e1e8ee;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  }

  .delete-btn:hover {
    background-color: rgb(252, 0, 0); /* Or use a specific shade of red if you prefer */
    color: white; /* Change text color if needed */
  }
  
  .checkout {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f7f7f7;
    border-top: 1px solid #e1e8ee;
  }
  
  .checkout .total {
    font-size: 20px;
    color: #333;
  }
  
  .checkout-btn {
    background-color: #ff6000;
    color: white;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  }

  .checkout-btn:hover {
    background-color: #e67300; /* Darker shade of the original orange */
    color: #fff; /* Keep text color white */
  }
  
  @media (max-width: 800px) {
    .shopping-cart {
      /* It's recommended to stack items on smaller screens */
      .item {
        grid-template-columns: 1fr;
      }
    }
  }