/* Grid Container */
.product-grid {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  /* Product Card */
  .product-card {
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .product-card:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
  }
  
  .product-card img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    
  }
  
  .product-info {
    text-align: center;
    padding: 1px;
  }
  
  .product-info h5 {
    margin: 0;
    margin-bottom: 0.1rem; /* Space between title and price */
    font-size: 0.9rem; /* Larger font for the title */
  }
  
  .product-info p {
    margin: 0;
    margin-bottom: 0.5rem; /* Space between price and rating */
    color: #666; /* Dark grey for text */
  }
  
  /* Optionally add styles for the sorting and filtering area */
  .sort-filter-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .sort-filter-container select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  /* Responsive adjustments */
  @media (max-width: 600px) {
    .product-grid {
      grid-template-columns: 1fr; /* Stack them on smaller screens */
    }
  
    .sort-filter-container {
      flex-direction: column;
      gap: 5rem;
    }
  }
  .add-to-cart-btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  .add-to-cart-btn:hover {
    background-color: #0056b3;
  }